g-browser {
  display: flex;
  flex-direction: column;
  flex: 1;
}

g-search {
  display: flex;
  box-shadow: 1px 0 2px #000;
  background: #fff;
}

g-search input {
  flex: 1;
  font-size: 16px;
  line-height: 24px;
  margin: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

g-search input:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

g-results {
  flex: 1;
  overflow-y: auto;
}

g-result {
  display: flex;
  align-items: center;;
}

g-thumbnail svg {
  width: 48px;
  height: 48px;
}

g-thumbnail {
  margin: 16px;
}

g-name {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 56px;
  -webkit-user-select: none;
}
