u-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

u-tabs-selector {
  display: flex;
  background: #fff;
}

u-tabs-label {
  flex-grow: 1;
  text-align: center;
  line-height: 56px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-user-select: none;
}

u-tabs-label.selected {
  border-bottom: 2px solid;
  color: #000;
}

u-tabs-label:hover {
  border-bottom: 2px solid;
}

u-tabs-content {
  flex-grow: 1;
  display: flex;
}
