@import './components/browser.css';
@import './components/tabs.css';

body, html {
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

g-message {
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
}
